$red: #f13f3f;
$redOrange: #ff6000;
$orange: #e88821;
$yellowOrange: #e8a321;
$yellow: #fffa2a;
$green: #70ff2a;
$blueGreen: #2affc6;
$blue: #0071bb;
$purple: #a52aff;

.bay {
  width: 324px;
  height: 704px;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
}

.pan {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 10px;
}

.white {
  color: white;
}

.full {
  width: 100%;
  height: 528px;
  background-color: $green;
}

.half {
  width: 100%;
  height: 264px;
  background-color: $yellow;
}

.halfLong {
  width: 50%;
  height: 528px;
  background-color: $yellow;
}

.twoThird {
  width: 100%;
  height: 352px;
  background-color: $yellowOrange;
}

.oneThird {
  width: 100%;
  height: 176px;
  background-color: $green;
}

.oneFourth {
  width: 25%;
  height: 132px;
  background-color: $blueGreen;
}

.oneSixth {
  width: 50%;
  height: 176px;
  background-color: $blue;
}

.oneNinth {
  width: 33.33%;
  height: 176px;
  background-color: $purple;
}
