.bay {
  width: 324px;
  height: 704px;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap; }

.pan {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 10px; }

.white {
  color: white; }

.full {
  width: 100%;
  height: 528px;
  background-color: #70ff2a; }

.half {
  width: 100%;
  height: 264px;
  background-color: #fffa2a; }

.halfLong {
  width: 50%;
  height: 528px;
  background-color: #fffa2a; }

.twoThird {
  width: 100%;
  height: 352px;
  background-color: #e8a321; }

.oneThird {
  width: 100%;
  height: 176px;
  background-color: #70ff2a; }

.oneFourth {
  width: 25%;
  height: 132px;
  background-color: #2affc6; }

.oneSixth {
  width: 50%;
  height: 176px;
  background-color: #0071bb; }

.oneNinth {
  width: 33.33%;
  height: 176px;
  background-color: #a52aff; }
