.setupGroup {
  /* overflow: hidden; */
  max-width: 600px;
  margin: auto;
}

.transitionBlock {
  display: none;
  position: relative;
  margin-bottom: 30px;
  /* left: -15px; */
  /* transition: left .5s ease-in-out; */
}

.transitionBlock.show {
  display: block;
  /* left: 0; */
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
