#ingredientBar {
  overflow: hidden; }

#ingredientTable {
  margin-bottom: 50px; }

@media screen and (max-width: 624px) {
  .recipeConfiguration {
    display: block; }
    .recipeConfiguration__box {
      width: 100%; } }

.ingredientBarItem {
  float: left;
  text-align: center; }

.legendItem__color {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px; }

.ratioDiv {
  margin-bottom: 20px; }

#range {
  margin-bottom: 20px; }
