@import '../../sass/variables.scss';

#ingredientBar {
  overflow: hidden;
}

#ingredientTable {
  margin-bottom: 50px;
}

.recipeConfiguration {
  // display: flex;
  &__box {
    // width: 50%;
  }
  @media screen and (max-width: $mobile) {
    display: block;
    &__box {
      width: 100%;
    }
  }
}

.ingredientBarItem {
  float: left;
  text-align: center;
}

.legendItem__color {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px;
}

.ratioDiv {
  margin-bottom: 20px;
}

#range {
  margin-bottom: 20px;
}
