@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
h1, h2, h3, h4, h5, h6,
body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -.05em; }

ul {
  padding-left: 7px; }

.floatLeft {
  float: left; }

.center {
  text-align: center; }

.ui.inline.dropdown .dropdown.icon {
  margin: -10px -10px 0 .21428571em; }
