$black: #222;
$green: #4ccc4c;
$red: rgb(239, 33, 93);

// global
.container {
  max-width: 1290px;
  margin: auto;
  padding: 0 20px;
}

.helper {
  font-size: 12px;
  font-style: italic;
  @extend .red;
}

.red {
  color: $red;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: $black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  margin-top: 0;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.contentHeader {
  overflow: hidden;
  margin-top: 20px;
  h2, .contentHeader__button {
    float: left;
  }
  h2 {
    margin-right: 20px;
  }
}

.marginSmall {
  margin-bottom: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// bay
