.container {
  max-width: 1290px;
  margin: auto;
  padding: 0 20px; }

.helper {
  font-size: 12px;
  font-style: italic; }

.red, .helper {
  color: #ef215d; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  margin-top: 0;
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.contentHeader {
  overflow: hidden;
  margin-top: 20px; }
  .contentHeader h2, .contentHeader .contentHeader__button {
    float: left; }
  .contentHeader h2 {
    margin-right: 20px; }

.marginSmall {
  margin-bottom: 15px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
